repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock

  - repo: https://github.com/ninoseki/uv-sort
    rev: v0.7.0
    hooks:
      - id: uv-sort

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
